DJANGO_SECRET_KEY=change-me-with-a-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=entitymedicalegypt.com,www.entitymedicalegypt.com,193.203.191.141
DJANGO_CSRF_TRUSTED_ORIGINS=https://entitymedicalegypt.com,https://www.entitymedicalegypt.com
DJANGO_SECURE_SSL_REDIRECT=False
GUNICORN_PORT=8000
GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=60
